$prefix-classes = 'ic-'

$black = #333
$white = #fff
// $primary = #20a0ff
$primary = #ff7a3d
$danger = #ff4949
$warning = #f7ba2a
$success = #13ce66
$info = #50bfff
$gray-light = #eee
$gray-average = #bbb
$gray-average-dark = #ccc
$gray-dark = #999
$gray-primary = #F5F5F8
$blue-light = #3B99FF
$blue-dark = #20a0ff

$border-radius = 4px
$border = 1px solid $gray-light
$border-primary = 1px solid $primary
$border-danger = 1px solid $danger
$border-warning = 1px solid $warning
$border-success = 1px solid $success
$border-info = 1px solid $info

$font-size-small = 12px
$font-size-base = 14px
$font-size-medium = 16px
$font-size-large = 18px
$font-size-xlarge = 20px

$background-color = #f4f4f4

$checkbox-with = 23px

$z-index = {
 toast: 1000,
 loading: 900,
 modal: 800,
 dialog: 700,
 popup: 600,
 header: 500,
 tabbar: 500
}

$header-height = 46px
$footer-height = 46px
$padding-x = 15px

// ====== glyph ======
$arrow-small-border-width = 3px
$add = 20px
$circle = 10px


$colors = {
  primary: $primary,
  success: $success,
  info: $info,
  danger: $danger,
  warning: $warning
}


center-x()
  position absolute
  left 50%
  transform translateX(-50%)

center-y()
  position absolute
  top 50%
  transform translateY(-50%)

center()
  position absolute
  left 50%
  top 50%
  transform translate3d(-50%, -50%, 0)

border-retina(color = $gray-light)
  content: ''
  position absolute
  left 0
  bottom 0
  width 100%
  height 1px
  background-color color
  transform scaleY(.5)

border-retina-top(color = $gray-light)
  content: ''
  position absolute
  left 0
  top 0
  width 100%
  height 1px
  background-color color
  transform scaleY(.5)

ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

multi-ellipsis(lines = 2)
  overflow hidden
  text-overflow ellipsis
  display flex
  flex-direction column
  -webkit-line-clamp lines
